{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #} {#delete ?#}
{# EasyCorp\Bundle\EasyAdminBundle\Field\ArrayField #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% if ea.crud.currentAction == 'detail' %}
    <ul class="list-group">
        {#{{ dump( field) }}#}
        {% for children in field.value  %}
            <li class="list-group-item flex justify-content-between align-items-center">
                <span class="d-flex flex-wrap">{{ children }}</span>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <span class="badge badge-success">{{ field.value | length }}</span>
{% endif %}
