{% extends 'base.html.twig' %}

{% block title %}Modification utilisateur{% endblock %}

{% block body %}

    <section class="mx-auto container">
        {{ include('user/crud/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </section>

{#    <div class="flex justify-evenly mb-20">#}

{#        <a href="{{ path('app_user_index') }}"#}
{#           class="text-indigo-600 text-sm text-center#}
{#           rounded-lg px-5 py-2.5#}
{#           inline-flex items-center#}
{#           hover:text-white border border-indigo-600 hover:bg-indigo-600#}
{#           focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium#}
{#           dark:border-indigo-500 dark:text-indigo-500 dark:hover:text-white dark:hover:bg-indigo-600#}
{#           dark:focus:ring-indigo-900">#}
{#            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">#}
{#                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />#}
{#            </svg>#}
{#            Liste des utilisateurs#}
{#        </a>#}
{#    </div>#}

{% endblock %}
