{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
<section class="row container" style="height: 100vh">

    <div class="col-12">
        <h1 class="display-5">Administration APE Pasteur</h1>
        <p class="lead">Bienvenue dans l'interface d'administration du gestionnaire d'événement de l' <b>APERP</b></p>
        <hr class="mt-5 mb-0">
    </div>

    <div class="row">

        <div class="col-xl-8 offset-xl-2 py-3">
            <h2 class="">Qui suis-je ? 🤠</h2>
            <div class="py-3">
                <p class="lead">
                    Je suis un développeur web junior, passionné par la technologie et l'innovation.
                    J'ai obtenu mon diplôme de développeur web fullstack en 2022, et depuis lors, je continue
                    à me former, pour acquérir ainsi une solide expérience en matière de développement web.
                </p>

                <p class="lead">
                    Je suis motivé, déterminé et j'aime relever des défis.
                    Je suis également un excellent communicateur, ce qui me permet de travailler en équipe et
                    de comprendre les besoins des clients pour fournir des solutions adaptées.
                </p>

                <p class="lead">
                    Je suis à la recherche d'opportunités pour continuer à apprendre et à grandir en tant que développeur web.
                    Si vous recherchez un développeur web junior compétent et motivé, n'hésitez pas à me contacter.
                </p>

                <p class="lead">
                    J'aimerais beaucoup avoir l'opportunité de travailler avec vous et de contribuer à vos projets
                    de développement web.
                </p>
            </div>

        </div>

    </div>

    <div class="row">
        <figure class="text-center">
            <blockquote class="blockquote">
                <p>Développeur Web Symfony junior, mais passionné...</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <a href="mailto:bridevproject@gmail.com" target="_blank">Cliquez-ici </a>
                pour me contacter en privé &middot;<cite title="Source Title"> Papoel</cite>
            </figcaption>
        </figure>
    </div>


</section>




{% endblock %}
