{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="isolate bg-white" id="hero">
        {% include('components/_navbar.html.twig') %}
        {% include('components/_hero_svg.html.twig') %}
        <div role="alert" class="w-full">
            {{ include("components/_flash-messages.html.twig") }}
        </div>
        <main>
            <div class="mx-auto max-w-3xl pt-20 pb-32 sm:pt-48 sm:pb-40">
                <h1 class="text-purple-degrade text-4xl font-semibold uppercase text-center sm:text-6xl">Association des Parents d'Eléves</h1>
                <p class="text-center mt-6 text-lg leading-8 text-gray-600 sm:text-center">Ecole primaire Pasteur - Rousies</p>
                <div class="mt-8 flex gap-x-4 justify-center">
                    <a href="{{ path('app_events') }}" class="inline-block  shadow-sm btn-purple-degrade">
                        Nos prochains événements
                        <span class="text-indigo-200" aria-hidden="true">&rarr;</span>
                    </a>
                </div>
            </div>
        </main>
    </section>
{% endblock %}
