{% apply inky_to_html %}
    <!DOCTYPE html>
    <html lang="fr">
        <head>
            <meta charset="UTF-8">
            <title>APERP | Contact</title>
        </head>

        <body class="bg-gray-900 text-gray-400">
            <div class="container">
                {% if contact.fullname %}
                    <h1 class="text-purple-degrade text-5xl">Nouveau message de {{ contact.fullname }}</h1>
                {% else %}
                    <h1 class="text-purple-degrade text-5xl">Nouveau message Anonyme</h1>
                {% endif %}
            </div>

            <div class="border-b">
                {% if contact.subject %}
                    <p>Sujet : <span class="font-semibold">{{ contact.subject }}</span> </p>
                {% else %}
                    <p>Sujet : <span class="font-semibold text-gray-300 italic">Aucun</span> </p>
                {% endif %}
                <hr class="w-1/4 border-gray-700">
                <p> Message : <br>
                    <p class="font-semibold">{{ contact.message|raw }}</p>
                </p>

                {% if contact.response %}
                    <hr class="w-1/4 border-gray-700">
                    <p class="text-sm">Réponse de : {{ app.user.fullName }}<br>❤️ L'équipe APERP ❤️</p>
                {% endif %}

            </div>

        </body>

    </html>
{% endapply %}
