<div class="bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700" role="alert">
    <h4 class="text-4xl font-semibold leading-tight mb-2">
        Alerte de maintenance
    </h4>
    <p class="mb-4">
        Cher utilisateur, nous travaillons dur pour vous rendre l'expérience plus agréable et plus rapide.
        Nous vous remercions pour votre patience et votre compréhension.
    </p>
    <hr class="border-red-600 opacity-30">
    <p class="mt-4 mb-0">
        Le site sera mis en maintenance ce
        <em>Jeudi 02 février 2023 à partir de 12h30</em>.
    </p>
</div>
