<div class="mt-6 item-child">

    <div class="col-span-3">{{ form_row(form.firstname) }}</div>

    <div class="col-span-3">{{ form_row(form.lastname) }}</div>

    <div class="col-span-3">{{ form_row(form.classroom) }}</div>

    <div class="form-group sm:col-span-3">
        <button type="button" class="btn-remove py-2 px-3 mb-2 text-center text-white bg-red-600 hover:bg-red-700">
            Supprimer
        </button>
    </div>

</div>
