<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>APERP | CGU</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="Content-Language" content="fr">
    <meta name="description" content="Author: Papoel,
    Description: Conditions générale d'utilisation du site APERP">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-indigo-900">
                    Conditions Générales d'Utilisation
                </h1>
                <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">
                    Bienvenue sur les conditions générales d'utilisation du site de l'association des parents d'élève de
                    l'école Pasteur de la ville de Rousies (59131).
                </p>
            </div>
            <div class="flex flex-wrap -m-4">
                <!--####################################### Qui sommes nous ? #######################################-->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="border border-gray-200 p-6 rounded-lg">
                        <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                            </svg>
                        </div>
                        <h2 class="text-lg font-medium title-font mb-2 text-indigo-700">Qui sommes-nous ?</h2>
                        <p class="leading-relaxed text-base">
                            Ce site est édité par l’Association des Parents d’Élèves de l'école Publique PASTEUR
                            (association loi de 1901), situé au 8 rue Pasteur, 59131 Rousies, France.
                        </p>
                    </div>
                </div>
                <!--################################### Qui est le responsable ? ####################################-->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="border border-gray-200 p-6 rounded-lg">
                        <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                            </svg>
                        </div>
                        <h2 class="text-lg font-medium title-font mb-2 text-indigo-700">Qui est le responsable ?</h2>
                        <p class="leading-relaxed text-base">
                            Le responsable de la publication est Madame Aude Lamy en sa qualité de Présidente de l'association.
                        </p>
                    </div>
                </div>
                <!--###################################### Hébergement du site ######################################-->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="border border-gray-200 p-6 rounded-lg">
                        <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
                            </svg>
                        </div>
                        <h2 class="text-lg font-medium title-font mb-2 text-indigo-700">Hébergement du site</h2>
                        <p class="leading-relaxed text-base">
                            L’hébergement du site est assuré par la société HOSTINGER, dont le siège social est situé
                            HOSTINGER INTERNATIONAL LTD, 61 Lordou Vironos Street, 6023 Larnaca, Chypre,
                            joignable par le moyen suivant
                            <a class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline"
                               href="https://www.hostinger.fr/contact" target="_blank">
                                en cliquant ici.
                            </a>
                        </p>
                    </div>
                </div>
                <!--################################### Informations personnelles ###################################-->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="border border-gray-200 p-6 rounded-lg">
                        <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 01-2.555-.337A5.972 5.972 0 015.41 20.97a5.969 5.969 0 01-.474-.065 4.48 4.48 0 00.978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25z" />
                            </svg>
                        </div>
                        <h2 class="text-lg font-medium title-font mb-2 text-indigo-700">Informations personnelles</h2>
                        <p class="leading-relaxed text-base">
                            Les informations recueillies sont nécessaires pour contribuer au site et participer aux activités de l’APE.
                            En application des articles 39 et suivants de la
                            <a target="_blank" href="https://www.legifrance.gouv.fr/loda/id/LEGISCTA000006095896#:~:text=-%20Il%20est%20interdit%20de%20collecter,%C3%A0%20la%20vie%20sexuelle%20de"
                               class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">
                                loi du 6 janvier 1978
                            </a>, tout utilisateur bénéficie d’un droit
                            d’accès et de rectification aux informations qui le concernent.
                            Pour exercer ce droit ou obtenir communication des informations le concernant, l’utilisateur peut s’adresser
                            par courriel depuis
                            <a target="_blank" href="{{ path('app_contact') }}"
                               class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">
                                la page de contact
                            </a> ou physiquement auprès du président de l'association.
                        </p>
                    </div>
                </div>
                <!--###############################tilisation de témoins (« cookies ») ##############################-->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="border border-gray-200 p-6 rounded-lg">
                        <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor" height="800px" width="800px" version="1.1" id="Layer_1" viewBox="0 0 512 512" xml:space="preserve"><link xmlns="" type="text/css" rel="stylesheet" id="dark-mode-custom-link"/><link xmlns="" type="text/css" rel="stylesheet" id="dark-mode-general-link"/><style xmlns="" lang="en" type="text/css" id="dark-mode-custom-style"/><style xmlns="" lang="en" type="text/css" id="dark-mode-native-style"/><style xmlns="" lang="en" type="text/css" id="dark-mode-native-sheet"/>
                                <g transform="translate(1 1)">
                                    <g>
                                        <g>
                                            <path d="M507.587,214.893c-0.853-3.413-3.413-5.973-6.827-6.827c-3.413-0.853-6.827,0.853-8.533,3.413     c-11.093,16.213-29.867,26.453-49.493,26.453c-21.333,0-41.813-11.093-52.053-29.867c-1.707-2.56-5.12-4.267-8.533-4.267     c-2.56,0-5.12,0-7.68,0c-42.667,0-76.8-34.133-76.8-76.8c0-7.467,1-14.6,3-21.4c1.32-4.2,2.76-8.04,4.68-11.88     c0.853-1.707,0.853-4.267,0-6.827c-0.853-2.56-2.56-4.267-5.12-5.12c-17.067-5.973-28.16-22.187-28.16-40.107     c0-1.323,0.059-2.631,0.172-3.926c0.121-0.901,0.323-1.825,0.682-2.901c0-0.592-0.002-1.184-0.023-1.766     c1.346-6.956,4.295-13.48,8.556-19.568c2.56-2.56,2.56-5.973,1.707-8.533c-0.853-2.56-3.413-5.12-6.827-5.12     C268.653-1,261.827-1,255-1C114.2-1-1,114.2-1,255s115.2,256,256,256s256-115.2,256-256     C511,241.347,509.293,228.547,507.587,214.893z M283.569,103.396c-5.069,3.314-11.744,6.537-20.036,6.537     c-18.773,0-34.133-15.36-34.133-34.133c0-16.213,11.093-29.867,25.6-33.28c0,22.187,12.8,41.813,31.573,52.053     C285.374,97.453,284.383,100.401,283.569,103.396z M255,493.933c-131.413,0-238.933-107.52-238.933-238.933     S123.587,16.067,255,16.067c1.707,0,3.413,0,5.973,0c-1.551,2.792-2.76,5.81-3.675,8.929     c-25.246,3.102-44.965,24.755-44.965,50.804c0,28.16,23.04,51.2,51.2,51.2c5.804,0,11.605-1.016,17.115-3.03     c-0.029,1.01-0.048,2.019-0.048,3.03c0,52.053,41.813,93.867,93.867,93.867c1.707,0,2.56,0,4.267,0     c14.507,21.333,38.4,34.133,64,34.133c18.773,0,36.693-6.827,50.347-18.773c0.853,5.973,0.853,12.8,0.853,18.773     C493.933,386.413,386.413,493.933,255,493.933z"/>
                                            <path d="M144.067,135.533c-28.16,0-51.2,23.04-51.2,51.2s23.04,51.2,51.2,51.2c28.16,0,51.2-23.04,51.2-51.2     S172.227,135.533,144.067,135.533z M144.067,220.867c-18.773,0-34.133-15.36-34.133-34.133c0-18.773,15.36-34.133,34.133-34.133     c18.773,0,34.133,15.36,34.133,34.133C178.2,205.507,162.84,220.867,144.067,220.867z"/>
                                            <path d="M152.6,323.267c-23.893,0-42.667,18.773-42.667,42.667S128.707,408.6,152.6,408.6c23.893,0,42.667-18.773,42.667-42.667     S176.493,323.267,152.6,323.267z M152.6,391.533c-14.507,0-25.6-11.093-25.6-25.6s11.093-25.6,25.6-25.6     c14.507,0,25.6,11.093,25.6,25.6S167.107,391.533,152.6,391.533z"/>
                                            <path d="M323.267,297.667c-37.547,0-68.267,30.72-68.267,68.267s30.72,68.267,68.267,68.267c37.547,0,68.267-30.72,68.267-68.267     S360.813,297.667,323.267,297.667z M323.267,417.133c-28.16,0-51.2-23.04-51.2-51.2s23.04-51.2,51.2-51.2     c28.16,0,51.2,23.04,51.2,51.2S351.427,417.133,323.267,417.133z"/>
                                        </g>
                                    </g>
                                </g>
                                <deepl-alert xmlns=""/><deepl-alert xmlns=""/><deepl-alert xmlns=""/><deepl-alert xmlns=""/></svg>
                        </div>
                        <h2 class="text-lg font-medium title-font mb-2 text-indigo-700">
                            Utilisation de témoins (« cookies »)
                        </h2>
                        <p class="leading-relaxed text-base">
                            La navigation sur ce site est susceptible de provoquer l’installation de témoins (« cookies ») sur l’ordinateur de l’utilisateur,
                            notamment afin de mieux mesurer la fréquentation du site.
                            Un témoin est un fichier de petite taille, qui ne permet pas l’identification de l’utilisateur mais qui enregistre des
                            informations relatives à la navigation d’un ordinateur sur un site.
                            L’utilisateur est toutefois informé que la plupart des navigateurs Internet permettent de s’opposer à l’enregistrement
                            des témoins, de recevoir un message d’avertissement avant qu’un témoin ne soit copié, ou de supprimer les témoins de son disque dur.
                            L’utilisateur doit, pour en savoir plus sur ces fonctions, se reporter aux instructions de son navigateur.
                        </p>
                    </div>
                </div>
                <!--#################################### Propriété intellectuelle ###################################-->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="border border-gray-200 p-6 rounded-lg">
                        <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 18v-5.25m0 0a6.01 6.01 0 001.5-.189m-1.5.189a6.01 6.01 0 01-1.5-.189m3.75 7.478a12.06 12.06 0 01-4.5 0m3.75 2.383a14.406 14.406 0 01-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 10-7.517 0c.85.493 1.509 1.333 1.509 2.316V18" />
                            </svg>
                        </div>
                        <h2 class="text-lg font-medium title-font mb-2 text-indigo-700">
                            Propriété intellectuelle
                        </h2>
                        <p class="leading-relaxed text-base">
                            Tout contenu de ce site est propriété exclusive de l’Association des Parents d’Élèves de
                            l'école Publique Pasteur de Rousies et mis à disposition selon les termes de
                            <a target="_blank" href="https://www.gnu.org/licenses/gpl-3.0.html"
                               class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">
                                GNU GENERAL PUBLIC LICENSE.
                            </a>
                        </p>
                    </div>
                </div>
                <!--############################################ Crédits ############################################-->
                <div class="xl:w-1/3 md:w-1/2 p-4">
                    <div class="border border-gray-200 p-6 rounded-lg">
                        <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                                <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                            </svg>
                        </div>
                        <h2 class="text-lg font-medium title-font mb-2 text-indigo-700">Crédits</h2>
                        <p class="leading-relaxed text-base">
                            Ce site a entièrement été réalisé avec Symfony 6, ce projet est un projet public visible sur
                            la page GitHub du développeur.

                            Conception du site : <a target="_blank" href="https://www.github.com/Papoel"
                            class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">
                                Papoel
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <!--##################################### Action retour à l'accueil #####################################-->
            <div class="flex justify-center mt-6">
                <a href="{{ path('app_home') }}"
                   class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
                    Retour à l'accueil
                </a>
            </div>
        </div>
    </section>
</body>
</html>
