{% extends 'base.html.twig' %}

{% block title %}Événements{% endblock %}

{% block body %}
    {% include('components/_navbar.html.twig') %}
    <section>
        <div id="header">
            <h1 class="text-center py-8 md:py12 xl:py-24 text-4xl md:text-5xl">
                Découvrez nos<span class="mx-2 text-purple-degrade uppercase font-extrabold">événements</span>à venir.
            </h1>
        </div>

        {% include('components/Event/_card.html.twig') %}

        <!-- Component if there isn't event -->

        {% if eventsPublished == 0 %}
            {% include('components/Event/_soon.html.twig') %}
        {% endif %}
    </section>
{% endblock %}
